body {
  transition: 0s all;
  opacity: 1;
  padding-right: 0 !important;
  &.loading {
    opacity: 0;
  }
}

.table-wrapper {
  background: #fff;
  padding: 20px 25px;
  margin: 30px 0;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

table.table-bordered.dataTable tbody th,
table.table-bordered.dataTable tbody td {
  vertical-align: middle;
}

.custom-table {
  .table-title {
    padding-bottom: 15px;
    background: #435d7d;
    color: #fff;
    padding: 10px 20px;
    margin: 0;
    border-radius: 3px 3px 0 0;
  }
  .table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
    position: relative;
    top: 3px;
  }
  .table-title .btn-group {
    float: right;
  }
  .table-title .btn {
    color: #fff;
    float: right;
    font-size: 13px;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
  }
  .table-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
  }
  .table-title .btn span {
    float: left;
    margin-top: 2px;
  }
  table.table tr th,
  table.table tr td {
    border-color: #e9e9e9;
    padding: 5px 15px;
    vertical-align: middle;
  }
  table.table tr th:not(.not-first-child):first-child {
    width: 20px;
  }
  table.table tr th:not(.not-last-child):last-child {
    width: 70px;
  }
  table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
  }
  table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
  }
  table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
  }
  table.table td:last-child i {
    opacity: 0.9;
    font-size: 22px;
    margin: 0 5px;
  }
  table.table td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
    outline: none !important;
  }
  table.table td a:hover {
    color: #2196f3;
  }
  table.table td a.edit {
    color: #ffc107;
  }
  table.table td a.delete {
    color: #f44336;
  }
  table.table td i {
    font-size: 22px;
  }
  table.table .avatar {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
  }
  .pagination {
    float: right;
    margin: 0 0 5px;
  }
  .pagination li a {
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 2px !important;
    text-align: center;
    padding: 0 6px;
  }
  .pagination li a:hover {
    color: #666;
  }
  .pagination li.active a,
  .pagination li.active a.page-link {
    background: #03a9f4;
  }
  .pagination li.active a:hover {
    background: #0397d6;
  }
  .pagination li.disabled i {
    color: #ccc;
  }
  .pagination li i {
    font-size: 16px;
    padding-top: 6px;
  }
  .hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
  }
}

/* Custom checkbox */
.custom-checkbox {
  position: relative;
  label {
    position: relative;
    top: 5px;
    &:before {
      width: 18px;
      height: 18px;
      content: "";
      display: inline-block;
      vertical-align: text-top;
      background: white;
      border: 1px solid #bbb;
      border-radius: 2px;
      box-sizing: border-box;
      z-index: 2;
    }
  }
  input {
    &[type="checkbox"] {
      opacity: 0;
      position: absolute;
      margin: 5px 0 0 3px;
      z-index: 9;
      &:checked + label {
        &:before {
          border-color: #03a9f4;
          background: #03a9f4;
        }
        &:after {
          content: "";
          position: absolute;
          left: 6px;
          top: 3px;
          width: 6px;
          height: 11px;
          border: solid #fff;
          border-width: 0 3px 3px 0;
          transform: inherit;
          z-index: 3;
          transform: rotateZ(45deg);
        }
      }
      &:disabled + label {
        &:before {
          color: #b8b8b8;
          cursor: auto;
          box-shadow: none;
          background: #ddd;
        }
      }
    }
  }
}

/* Modal styles */
// .modal .modal-dialog {
//   max-width: 400px;
// }
.modal .modal-header,
.modal .modal-body,
.modal .modal-footer {
  padding: 20px 30px;
}
.modal .modal-content {
  border-radius: 3px;
}
.modal .modal-footer {
  background: #ecf0f1;
  border-radius: 0 0 3px 3px;
}
.modal .modal-title {
  display: inline-block;
}
.modal .form-control {
  border-radius: 2px;
  box-shadow: none;
  border-color: #dddddd;
}
.modal textarea.form-control {
  resize: vertical;
}
.modal .btn {
  border-radius: 2px;
  min-width: 100px;
}
.modal form label {
  font-weight: normal;
}

// from-search__title
.from-search__title {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  padding: 6px 10px;
  background-color: #f8f9fc;
}

.lang-items {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    a {
      display: block;
      padding: 0;
      width: 35px;
      height: 35px;
      line-height: 35px;
      font-size: 14px;
      font-weight: 700;
      text-align: center;
      text-decoration: none;
    }

    + li {
      margin-left: 15px;
    }
  }
}

.from-search__language {
  min-width: 120px;
}

.full-height {
  min-height: calc(100vh - 44px - 70px);
}

.md-modal {
  .modal-dialog {
    @include media-breakpoint-up(md) {
      max-width: 768px;
    }
  }
}

.chiller_cb {
  position: relative;
  height: 2rem;
  display: flex;
  align-items: center;
  input {
    display: none;
    &:checked ~ span {
      background: #fd2727;
      border-color: #fd2727;
      &:before {
        width: 1rem;
        height: 0.15rem;
        transition: width 0.1s;
        transition-delay: 0.3s;
      }
      &:after {
        width: 0.4rem;
        height: 0.15rem;
        transition: width 0.1s;
        transition-delay: 0.2s;
      }
      &:disabled {
        & ~ span {
          background: #ececec;
          border-color: #dcdcdc;
        }
        & ~ label {
          color: #dcdcdc;
          &:hover {
            cursor: default;
          }
        }
      }
    }
  }
  label {
    padding-left: 2rem;
    position: relative;
    z-index: 2;
    cursor: pointer;
    margin-bottom: 0;
  }
  span {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid #ccc;
    position: absolute;
    left: 0;
    transition: all 0.2s;
    z-index: 1;
    box-sizing: content-box;
    &:before {
      transform: rotate(-55deg);
      top: 1rem;
      left: 0.37rem;
    }
    &:after {
      transform: rotate(35deg);
      bottom: 0.35rem;
      left: 0.2rem;
    }
  }
}

.span_pseudo,
.chiller_cb span:before,
.chiller_cb span:after {
  content: "";
  display: inline-block;
  background: #fff;
  width: 0;
  height: 0.2rem;
  position: absolute;
  transform-origin: 0% 0%;
}

#label-search {
  &:checked {
    + label + .from-search {
      display: none;
    }
  }
  + label + .from-search {
    display: block;
  }
}

html {
  &[lang="vi"] {
    #label-search {
      &:checked {
        + label {
          &:before {
            content: "Show ";
          }
        }
      }
      + label {
        &:before {
          content: "Hidden ";
        }
      }
    }
  }
  &[lang="ja"] {
    #label-search {
      &:checked {
        + label {
          &:before {
            content: "表示";
          }
        }
      }
      + label {
        &:before {
          content: "非表示";
        }
      }
    }
  }
}

label[for="label-search"] {
  cursor: pointer;
  width: 160px;
}

.from-search__fields {
  .select2-container {
    display: block;
    width: 100% !important;
    max-width: 100%;
    &--default {
      .select2-selection--single,.select2-selection--multiple, .select2-selection__choice {
        border-radius: 0;
        border-color: #ccc;
      }
    }
  }
  .col-form-label {
    white-space: nowrap;
  }
}

.select2-container {
  &--default {
    display: block;
    .select2-selection--single {
      height: calc(1.5em + 0.75rem + 2px);
      padding-top: 5px;
      .select2-selection__arrow {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

// loadding
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadding {
  position: relative;
  min-height: 70px;
}

.loadding:after {
  border: 3px solid #e02d1b;
  border-radius: 50%;
  border-top-color: #f2f2f2;
  @include size(40px, 40px);
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: -20px;
  content: '';
}


// showPdfModal
#showPdfModal {
  .carousel-control-next, .carousel-control-prev {
    width: 30px;
  }

  .carousel-control-next {
    right: -30px;
  }

  .carousel-control-prev {
    left: -30px;
  }

  .carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #e02d1b;
    height: 30px;
    background-size: 20px 20px;
  }

  .modal-header {
    padding: 15px 15px 0;
    border: none;

    .close {
      font-size: 36px;
      padding: 5px 10px 0;
    }
  }

  .modal-footer {
    i {
      font-size: 24px;
    }
  }

  .modal-dialog {
    @include media-breakpoint-up(md) {
      max-width: 600px;
    }
  }

  .page-number {
    text-align: center;
    padding-top: 15px;
    font-size: 14px;
  }

  #img-download {
    text-align: center;
    width: 100%;

    a + a {
      margin-left: 10px;
    }
  }
}

body.modal-open {
  overflow: hidden!important;
}